.column-studentCpn {
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 0.7rem;
  .stt {
    background-color: $primary-color;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem 0 0 1rem;
    margin: 0;
    color: $white-color;
  }
  .name {
    flex: 2;
    padding-left: 1rem;
  }
  .icon-down {
    padding: 1rem 2rem;
    cursor: pointer;
  }
}
.active {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 0.2px solid rgba(0, 0, 0, 0);
  justify-content: space-between;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 0.7rem;
  .stt {
    background-color: $primary-color;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem 0 0 1rem;
    margin: 0;
    color: $white-color;
  }
  .name {
    flex: 2;
    padding-left: 1rem;
    color: $white-color;
  }
  .icon-down {
    padding: 1rem 2rem;
    color: $white-color;
    cursor: pointer;
  }
}
