.form-group-lab {
  display: flex;
  flex-direction: column;
  width: 49%;
  position: relative;
  label {
    position: absolute;
    top: 0.2rem;
    left: 3rem;
    background-color: white;
  }
  .input-score-lab {
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1rem;
    text-align: center;
  }
  .icon-edit-score-lab {
    position: absolute;
    top: 2.2rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
